<h2 style="text-align:center">檢視顧客資訊</h2>

<h2 style="text-align:center">顧客編號： <%= @customer.number%> </h2>

<h2 style="text-align:center">顧客名稱： <%= @customer.cusname%></h2>

<h2 style="text-align:center">最常消費產品： <%= @customer.product%></h2>

<h2 style="text-align:center">最常消費門市： <%= @customer.location%></h2>

<h2 style="text-align:center">總消費次數： <%= @customer.frequency%></h2>